---
layout: default
description: Özgür yazılımcı.
---
<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/me">about</a></li>
        {% for item in site.data.navigation %}
        <li><a target="_blank" href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
