---
layout: default
---

<div class="post">
    <a class="post__back" href="/">&lt;-- home</a>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
    <div class="post__content">
        {{ content }}
    </div>

    <div id="disqus_thread"></div>
</div>



<script>
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//oztaserio.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
