---
layout: default
---

<div class="post-list">
<div class="post-title single-title">
   <a href="{{ page.url }}">{{ page.title }}</a>
</div>
<div class="post-content">{{ content }}</div>
<div style="clear:both;"></div>
</div>


<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//oztaser.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
